@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/*   font-family: "Nanum Myeongjo", serif; */

body {
    background: #F6F4ED;
}
/* skip_event */
.skip_event {
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    background: #F6F4ED;
    width: 100%;
    height: 32px;
    text-align: center;
    line-height: 32px; /* height와 똑같은 값을주면 정렬 */
}
.skip_event button {
    position: absolute;
    top: 50%; right: 30px;
    transform: translateY(-50%);
    width: 26px; height: 26px;
    border: none;
    background: none;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

/* header */
header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    z-index: 5;
}
header .logo {
    width: 200px; height: 60px;
    margin: 20px auto;
}
header .logo > a {
    display: block;
    background: url(../img/logo_191.png)no-repeat center/contain;
}
header .btn_mobile {
    display: block;
    position: absolute;
    top: 30px; left: 4%;
}
header .btn_mobile span {
    display: block;
    margin-bottom: 8px;
    width: 36px;
    height: 1px;
    border-radius: 2px;
    background: white;
}


/* sub_event */
header .sub_event {
    position: absolute;
    top: 25px; left: 8%;
    font-family: "Nanum Myeongjo", serif;
    font-size: 26px;
    color: white;
}

/* nav */
.on_nav_header {
    .sub_event {
        display: none;
    }
    .btn_mobile span {
        background-color: #000;
    }
    header .logo > a {
        background-image: invert;
    }
}
nav {
    position: absolute;
    z-index: 4;
    background: #F6F4ED;
    width: 100%; height: 480px;
    padding: 120px 4%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
}
nav .gnb_category {
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
nav .gnb_category ul .head {
    display: block;
    margin-bottom: 15px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
nav .gnb_category .color_text {
    color: #ada58c;
    font-family: "Nanum Myeongjo", serif;
}
nav .gnb_category li a {
    display: block;
    margin-bottom: 14px;
    font-weight: 500;
    transition: all 0.3s;
}
nav .gnb_category li a:hover {
    color: #ada58c;
    text-decoration: underline;
}

nav .gnb_wk_best {
    position: absolute;
    right: 4%;
    width: 35%;
}
nav .gnb_wk_best strong {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Nanum Myeongjo", serif;
}
nav .gnb_wk_best ul {
    display: flex;
    justify-content: space-between;
}
nav .gnb_wk_best li {
    width: 32%;
}
nav .gnb_wk_best li figure img {
    width: 100%;
}
nav .gnb_wk_best li .wk_best_text {
    margin-top: 10px;
    font-size: 15px;
}
nav .gnb_wk_best li .wk_best_text span {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: "Nanum Myeongjo", serif;
}

/* header-util_link */
header .util_link {
    position: absolute;
    top: 25px; right: 4%;
}
header .util_link a {
    display: inline-block;
    width: 22px; height: auto;
    margin-left: 30px;
}
header .util_link > a > img {
    max-width: 100%;
}

/* swiper */
#main_visual {
    height: 90vh;
    overflow: hidden;
}

#main_visual .swiper-slide {
    height: 100%;
    position: relative;
}

#main_visual .main_title a {
    display: inline-block;
    padding: 10px 50px;
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 3px;
    text-align: center;
    font-family: "Nanum Myeongjo", serif;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
}
#main_visual .main_title a:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
}

/* section 공통요소 */
section + section {
    padding: 120px 0;
    text-align: center;
}
section .main_title {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translatey(-50%);
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    line-height: 1.4;
    
}
section .main_title p {
    margin-bottom: 15px;
    font-size: 20px;
}
section .main_title p:nth-child(2) {
    font-weight: 500;
    font-size: 36px;
    color: white;
}
section h2 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}
section .text_area .p_title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}
section .text_area .desc {
    line-height: 1.5;
    margin-bottom: 20px;
}
section .text_area .price {
    margin-bottom: 15px;
}
section .text_area .price del {
    margin-right: 15px;
    color: rgba(0,0,0,0.4);
}
section .text_area .price ins {
    text-decoration: none;
}
section .text_area .rate_star svg {
    vertical-align: -1px;
}
section ul li figure {
    overflow: hidden;
    height: 620px;
    margin-bottom: 20px;
}
section ul li figure > img {
    width: 100%;
}


/* section #sc_life */
.sc_title .title {
    font-family: "Nanum Myeongjo", serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -2px;
}
.sc_title .text {
    font-size: 16px;
    margin-bottom: 40px;
}
.sc_title .btn_view {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 120px;
}
.sc_title .btn_view::before {
    position: absolute;
    bottom: 0; left: 0;
    width: 0;
    height: 1px;
    background: #111;
    transition: all 0.2s;
    content: '';
}
.sc_title .btn_view:hover:before {
    width: 100%;
}
.sc_video iframe {
    width: 100%;
    height: 100%;
}

/* sc_product */

.product_list {
    display: flex;
    justify-content: space-between;    
    width: 50%;
    margin: 0 auto 30px;
}
.product_list > li {
    width: calc(100%/4)
}
.product_list > li > a {
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: rgba(0,0,0,0.3);
}
.product_list > li.active > a {color: #000;}
.product_wrap .text {
    font-size: 18px;
    margin-bottom: 60px;
}

/* tab_contents */
.product_wrap > div > ul {
    display: flex;
    justify-content: space-evenly;
}
.product_wrap > div > ul > li {
    width: 31.5%
}
.product_wrap > div > ul > li figure {
    position: relative;
}
.product_wrap > div > ul > li figure:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #313131a8;
    opacity: 0;
}
.product_wrap > div > ul > li figure:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url(../img/ico_cart.png) no-repeat center / contain;
    opacity: 0;
}
.product_wrap > div > ul > li:hover figure:before {
    opacity: 1;
}
.product_wrap > div > ul > li:hover figure:after {
    opacity: 0.8;
}

/* tab */
.product_wrap > div {display: none;}
.product_wrap > div.active {display: block;}

/* sc_visual */
#sc_visual {
    position: relative;
    height: 300px;
    background: url(../img/vs_bg_2.jpg) no-repeat center / cover;
    box-sizing: border-box;
    text-align: left;
}

/* review */
#review .text {
    font-size: 20px;
    margin-bottom: 40px;
}
#review .review_list {
    display: flex;
    justify-content: space-evenly;
}
#review .review_list li {
    width: 23.5%;
}
#review .review_list li figure {
    height: 460px;
}

/* sns_area */
#sns_area {
    padding-top: 0;
}
#sns_area h2 {
    font-size: 16px;
    font-weight: 600;
}
#sns_area h2 img {
    width: 24px;
    vertical-align: -4px;
}
#sns_area .insta_list {
    display: flex;
    justify-content: space-between;
}
#sns_area .insta_list > li {
    width: calc(100%/5);
}
#sns_area .insta_list > li img {
    width: 100%;
}

/* footer */
footer {
    padding: 80px 60px;
    position: relative;
    background: #313131;
    color: #ffffff8f;
    line-height: 1.6;
}
footer img {
    width: 100%;
}

footer .f_cont01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
footer .f_cont01 > span {
    display: block;
    width: 100px;
}
footer .f_cont01 > span img {
    opacity: 50%;
}
footer .f_cont01 .f_right {
    display: flex;
    align-items: start;
}
footer .f_cont01 .f_right .sns_icon {
    display: flex;
}
footer .f_cont01 .f_right .sns_icon > a {
    display: block;
    width: 30px;
    opacity: 50%;
}
footer .f_cont01 .f_right .sns_icon > a + a {
    margin-left: 40px;
}
footer .f_cont01 .f_right .family_site {
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer .f_cont01 .f_right .family_site > a {
    display: block;
    margin-left: 60px;
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-radius: 3px 3px 0 0;
    width: 180px; height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    text-align: left;
    background: url();
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
}
footer .f_cont01 .f_right .family_site > span {
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-radius: 0 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    opacity: 0;
}
footer .f_cont01 .f_right .family_site > span a {
    display: block;
    width: 100%;
    height: 100%;
}
.on {
    background: #fff !important;
    color: #585858 !important;
    opacity: 1 !important;
}

footer .f_cont02 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
footer .f_cont02 div {
    width: 23%;
}
footer .f_cont02 div span {
    display: block;
    margin-bottom: 5px;
}
footer .f_cont02 a {
    display: block;
}
footer .f_cont02 .f_menu {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff59;
    font-size: 16px;
    font-weight: 200;
}
footer .f_cont02 .call {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #ffffffda;
}


footer .f_cont03 span + span,
footer .f_cont03 a + a,
footer .f_cont03 a + span {
    position: relative;
    margin-left: 14px;
}
footer .f_cont03 span + span::before,
footer .f_cont03 a + a::before,
footer .f_cont03 a + span::before {
    position: absolute;
    top: 50%; left: -8px;
    transform: translateY(-50%);
    content: '';
    width: 1px;
    height: 14px;
    background: #ffffff28;
}
footer .f_cont03 p {
    margin-bottom: 5px;
}
footer .f_cont03 .copy {
    margin-top: 40px;
}