@charset "utf-8";

/* section 공통 */
section {
    margin-bottom: 30px;
}

/* wrap */
.wrap {
    max-width: 320px;
}

/* table-공통 */
th, td {
    padding: 10px 20px;
    font-family: "Pretendard Variable";
    font-size: 16px;
}

/* background */
.background .yellow {
    width: 400px;
    height: 560px;
    top: 50%; left: 34%;
    transform: translateY(-50%);
    opacity: 0.6;
}
.background .green {
    width: 270px; 
    height: 180px;
    top: 5%; right: 2%;
}
.background .blue {
    width: 220px; 
    height: 210px;
    top: 20%; left: 5%;
}
.background .pink {
    width: 400px; 
    height: 380px;
    top: 60%; left: -10%;
}

/* click and drag */
#draggable_area {
    z-index: -1;
}
.dragaItem {
    z-index: -10;
}
.click_obj01 {
    top: 10%;
    left: 20%;
    width: 150px;
}
.click_obj02 {
    top: 16%;
    right: 10%;
    width: 170px;
}
.click_obj03 {
    left: 20%;
    top: 28%;
    width: 150px;
}

.click_obj01.array {
    width: 100px;
}
.click_obj02.array {
    width: 100px;
}
.click_obj03.array {
    width: 100px;
}

/* header */
#btnMenu {
    width: 36px; height: 40px;
    background: none;
    border: none;
}

/* mainVisual */
#mainVisual h2 {
    font-size: 50px;
}
#mainVisual .linkBox {
    flex-direction: column;
    width: 100%;
}
#mainVisual .linkBox a {
    width: 100%;
    line-height: 2.8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    font-size: 16px;
}


/* section 공통 */
section h3 {
    font-size: 36px;
    margin-bottom: 40px;
}
section h3::before {
    width: 30px;
}

/* profile_area */
#profile_area .profileContents {
    flex-direction: column;
    align-items: center;
}
.profileContents figure {
    width: 100%;
}
.profileTable {
    width: 100%;
}
.profileTable ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
}

/* portfolio_component*/
.portfolio_component {
    flex-direction: column;
    margin-bottom: 50px;
}
figure.portfolio_tumbnail {
    width: 100%; height: 300px;
    margin-bottom: 10px;
}


.portfolio_title {
    font-size: 26px;
   }
.portfolio_info_area {
    width: 100%;
}
.portfolio_info_area .btnViewMore {
    font-size: 14px;
}

/* modal */
.modal_title {
    padding: 30px 20px 10px;
    font-size: 22px;
    line-height: 1.6;
    box-sizing: border-box;
}
.modalBox ul .tapBtn a {
    line-height: 2.5;
    font-size: 18px;
}

/* contact */
#contact_area .contact_contents {
    flex-direction: column;
}
.contact_contents table {
    width: 100%;
    margin-bottom: 80px;
}
.contact_contents img {
    width: 50%;
}